<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <img src="./assets/img/burger-main.jpg" alt="Burger"/>
            <h1>Eat. Da. Burger.</h1>
            <br/><br/><br/>
        </div>
    </div>

    <!--List of Burgers: Devoured and Not Devoured.-->
    <div class="row">
        <div class="col-md-6 menu">
            <h2>On the Menu</h2>
            <hr/>
            {{#each burgers}} 
                {{#unless this.devoured}}
                <h5>{{this.burger_name}}</h5>
                <button type="button" class="btn eatButton" data-id="{{id}}" data-devoured="{{devoured}}">Eat it.</button>
                {{/unless}} 
            {{/each}}
        </div>

        <div class="col-md-6 devouredMenu">
            <h2>Devoured Burgers</h2>
            <hr/>
            {{#each burgers}} 
                {{#if this.devoured}}
                <h5>{{this.burger_name}}</h5>
                {{/if}} 
            {{/each}}
            <br/><br/>
        </div>
    </div>

    <!--Form to add burger-->
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <form>
                <div class="form-group addBurger">
                    <label for="addBurger"><h2>Add a Burger to the Menu</h2></label>
                    <br/>
                    <textarea class="addBurger" id="burger" rows="3"></textarea>
                    <br/><br/>
                    <button type="submit" class="btn" id="addBurger">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>